.corpo {
    width: 375px;
    height: 667px;
    margin-top: 50px;
    background-color: white;
}

.cabecalho {
    height: 80px;
    width: 375px;
}

.typebox {
    height: 80px;
    width: 375px;
    margin-top: 507px;
    display: flex;
    flex-wrap: wrap;
}

.mensagens {
    height: 507px;
    width: 375px;
    background-color: white;
    position: absolute;
    overflow: hidden;
    overflow: scroll;
}

.mensagens li{
    width: 375px;
    height: 40px;
    position: relative;
    background-color: white;
    left: 0px;
    margin-top: 4px;
}